/* Add here all your CSS customizations */

html .scroll-to-top{
    border-radius: 0;
    background:#ff7848 ;
    font-size: 15px;
    transition-delay: 0.3s;
    
}
html{
     scroll-behavior: smooth;
}