*{
    font-family: 'Montserrat', sans-serif;
}

#h1{
    margin: 20px;
    font-size: 50px;
    color: #000;
}




/****MENU CSS*****/


.banner1{
    background-image: url(../img/travel3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.topnav {
  background-color: #fff;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #18A0FB;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.logo{
    padding: 10px !important;
}
.logo:hover{
    background-color: #fff !important;
}
.menu-padding{
    margin-top: 12px;
    margin-bottom: 12px;
}
.right{
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
    text-decoration: none;
    border-radius: 7px;
}

.topnav a.active {
  background-color: #18A0FB;
  color: white;
  border-radius: 7px;
   
}

.topnav .icon {
  display: none;
}

/****END MENU CSS*****/
/****BUTTONS*****/

.button-style-1{
    padding: 15px 30px;
    background: #18A0FB;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    margin: 20px;
}

.button-style-1:hover{
    text-decoration: none;
    background: #49b6ff;
    color: #fff;
    transition-property: background-color;
    transition-duration: 0.5s;
    
    
}

/****END BUTTONS*****/

