*{
    font-family: 'Montserrat', sans-serif;
}

#h1{
    padding-left: 1rem;
    font-size: 1.6rem;
    color: #fff;
}

#copyright{
    padding: 40px 80px;
    background: #48b6ff;
    color: #fff;
    vertical-align: middle;
}
#copyright a{
    color: #fff;
    text-decoration: none;
}
#copyright a:hover{
    color: #ff7848;
    text-decoration: none;
    transition-duration: 0.3s;
}
.h2{
    font-size: 1.5rem !important;
    font-weight: 900 !important;
    
}
.titre-h3{
    font-size: 1.5rem !important;
}






/****MENU CSS*****/


.banner1{
    background-image: url(../img/slide-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 546px;
    
}

.breadcrumb-contact{
    background-image: url(../img/contact.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    
   
    
}

.breadcrumb-bar{
    background: #48B6FF;
    color: #fff;
    padding: 20px 50px;
    border-radius:5px;
    top: 230px;
    
}
.banner-one{
    background: #48B6FF;
    padding: 10px;
}
.banner-one-2{
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
}

.banner-prix{
	font-weight: 700;
	color: #ff7947;
}


@media(max-width:800px){
    .media-d-none{
        display: none;
    }
}

.shadow1 {
	box-shadow: 3px 3px 9px 2px rgba(0, 0, 0, .2); 
}

.image img {
/* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
-webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}
.image:hover img {
/* L'image est grossie de 25% */
-webkit-transform:scale(1.15); /* Safari et Chrome */
-moz-transform:scale(1.15); /* Firefox */
-ms-transform:scale(1.15); /* Internet Explorer 9 */
-o-transform:scale(1.15); /* Opera */
transform:scale(1.15);
}

.menu-padding{
    
    margin-bottom: 12px;
}
.m10{
	margin:10px;
}
.newsletter{
    padding: 10px 15px;
}
.right{
    float: right;
    
    margin-bottom: 10px;
}

.section1{
    padding-top: 55px; 
    padding-bottom: 55px; 
}
.section2{
    padding-top: 55px; 
    padding-bottom: 55px; 
    background: #eff9ff;
}

.sociaux{
    padding: 12px 15px;
    border-radius: 100%;
    background: #131313;
    color: #FF7947;
    margin: 0 3px 0 3px;
}
.sociaux:hover{
    background: #48B6FF;
    color: #fff;
    transition-duration: 0.3s;
    
}
.topbar1{
        background: #eff9ff;
        width: 100%;
        height: 40px;
        color: #48B6FF;
    font-weight: 700;
        padding: 5px;
        
    }

.topbar1 p{
        margin: auto;
        padding: auto;
    font-size: 20px;
        
    }
.topbar2{
        background: #313131;
        width: 100%;
        height: 30px;
        color: white;
        padding: 5px;
    }
.topbar3{
        background: #48B6FF;
        width: 100%;
        height: 30px;
        color: white;
        padding: 5px;
    }
.topbar3 a{
    color: #fff;
}
.topbar3 a:hover{
    color: #313131;
    text-decoration: none;
    transition-duration: 0.3s;
}

.topnav {
  background-color: #fff;
  overflow: hidden;
    
}

.topnav a {
  float: left;
  display: block;
  color: #48B6FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
    
}

.topnav a.active:hover{
 background: #ff7947;
 transition-duration: 0.3s;

}
.logo{
    padding: 10px !important;
    margin-left: 20px;
}



.topnav a:hover {
  
    color: #FF7947;
    text-decoration: none;
    transition-duration: 0.3s;
}

.topnav a.active {
  background-color: #48B6FF;
  color: white;
  border-radius: 0 0 5px 5px;
   
}

.topnav .icon {
  display: none;
}

/****END MENU CSS*****/
/****MENU BURGER*****/

@media (max-width:1000px) {
    #myTopnav{
        display: none;
    }
    
}
@media (min-width:1000px) {
    #myTopnavMobile{
        display: none;
    }
    
}

@media (max-width:600px) {
    .responsive-none{
        display: none;
    }
    
}

.topnav-mobile {
  overflow: hidden;
  background-color: #fff;
  
}

.topnav-mobile a {
  float: left;
  display: none;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-mobile a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}

.topnav-mobile a.active {
  background-color: #48B6FF;
  color: white;
}

.topnav-mobile .icon {
  display: none;
}

@media screen and (max-width: 1275px) {
  .topnav-mobile a:not(:first-child) {display: none;}
  .topnav-mobile a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1275px) {
  .topnav-mobile.responsive {position: relative;}
  .topnav-mobile.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav-mobile.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/****END MENU BURGER*****/


/****BUTTONS*****/

.button-style-1{
    padding: 15px 30px;
    background: #18A0FB;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    margin: 20px;
}

.button-style-1:hover{
    text-decoration: none;
    background: #0e72b5;
    color: #fff;
    transition-property: background-color;
    transition-duration: 0.5s; 
}

.button-style-2{
    padding: 15px 30px;
    background: #fff;
    text-decoration: none;
    color: #18A0FB;
    border: 2px solid #18A0FB;
    border-radius: 5px;
    margin: 20px;
}

.button-style-2:hover{
    text-decoration: none;
    border: 2px solid #18A0FB;
    background: #18A0FB;
    color: #fff;
    transition-property: background-color;
    transition-duration: 0.5s; 
}

/****END BUTTONS*****/



footer{
    background: #313131;
    color: #fff;
}
.footer{
    color:#a5a5a5;
    font-size: 1.2rem;
}





#cookie-notification {
	position: fixed;
	opacity: 0;
	top: auto;
	bottom: -70px;
	left: 0;
	width: 100%;
	padding: 20px 0;
	line-height: 24px;
	background-color: #EEE;
	color: #444;
	z-index: 99;
	-webkit-box-shadow: 0px -1px 4px 0px rgba(0,0,0,0.15);
	box-shadow: 0px -1px 4px 0px rgba(0,0,0,0.15);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

#cookie-notification .container {
	padding-right: 100px;
	position: relative;
}

#cookie-notification .cookie-noti-btn {
	position: absolute;
	top: 0;
	left: auto;
	right: 0;
}

.w100{
    width: 100%;
}

.best-offer {
    background-color: rgba(255,255,255,.75);
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 1;
    bottom: 0;
    max-height: 100%;
}

/*******FOOTER********/

.blanc{
    color: #fff;
    font-weight: 700;
    
}
.orange{
    color: #FF7947;
   
}
.blue{
    color: #18a0fb;
   
}
a.orange:hover{
    text-decoration: none;
    color: #18A0FB;
   transition-duration: 0.3s;
}

a.blue:hover{
    text-decoration: none;
    color: #333;
   transition-duration: 0.3s;
}
/*****END FOOTER******/